@import "style.css";



 .green-btn {
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    color: #354463;
    opacity: 1;
    text-align: center;
    padding: 10;
    font: Bold 1.2vw/1vw Helvetica;
    border-style: solid;
    border: none;
 }


header{
    display: unset;
}


header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    width: 16vw;
    height: auto;
    text-align: center;
    font: Bold 1.5vw/2vw Helvetica;
}


h2{
    text-align: left;
    font: Bold 2vw/3vw Helvetica;
}

h3{
    font: lighter 4.5vw/5vw flood-std;
    letter-spacing: 0;
    width: 30vw;
    height: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

section{
    background: transparent url('../img/annie-spratt-427340-unsplash-donation-d.png') 0% 0% no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 50px;
    color: #FFFFFF;
}


form{
    background: #354463;
    width: 40vw;
    height: auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.form-lower {
    padding-top: 1vw;
}

form .form-upper,.form-lower{
    width: 80%;
    height: auto;
}

form p{
    font: lighter 1vw/1vw Helvetica;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

form .form-upper .row-1{
    display: flex;
    justify-content: space-between;
}

form .form-upper .row-3{
    display: flex;
    justify-content: space-between;
}

form .form-lower .row-6{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

form .form-lower .row-8{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input[type=text], select {
    background: #354463;
    border: none;
    border-bottom: 2px solid #C1F7D5;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    color: #FFFFFF;
    width: 100%;
}

select::-ms-expand { 
    padding-bottom: 1rem;
    display: block; 
}


::-webkit-input-placeholder {
    font: Lighter 1.2vw/2vw Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 0.2;
  }

  form .form-lower a{
      color: #C1F7D5;
      text-decoration: underline;
      font: lighter 1.2vw/1vw Helvetica;
      letter-spacing: -0.16px;
  }

  form .form-lower button{
    padding: 1vw 2vw 1vw 2vw;
  }


  /*---------xxxxxx----Master Responsive Code----xxxxxx----------------*/



  .form-upper .row-1 .col-1,.col-2 input[type=text]{
    width: 15vw;
}

.form-upper .row-3 .col-1,.col-3 input[type=text]{
    width: 12vw;
}

.form-upper .row-3 select{
    width: 5vw;
    color: #C1F7D5;
}

.form-lower .row-6 input[type=text]{
    width: 8vw;
}



/*-----------xxxxxx---------xxxxxx---------------*/

/* @media screen and (max-width:1440px){


    .form-upper .row-1 .col-1,.col-2 input[type=text]{
        width: 15vw;
    }

    .form-upper .row-3 .col-1,.col-3 input[type=text]{
        width: 12vw;
    }

    .form-upper .row-3 select{
        width: 5vw;
    }

    .form-lower .row-6 input[type=text]{
        width: 8vw;
    }

} */

@media screen and (max-width:768px){


section .container{
    flex-direction: column-reverse;
    align-items: center;
}

form{
    width: auto;
}


.form-upper .row-1 .col-1,.col-2 input[type=text]{
    width: 25vw;
}

.form-upper .row-3 .col-1,.col-3 input[type=text]{
    width: 25vw;
}


.form-upper .row-3 .col-3 input[type=text]{
    width: 15vw;
}

.form-upper .row-3 select{
    width: 15vw;
}

.form-lower .row-6 input[type=text]{
    width: 15vw;
}


}

@media screen and (max-width:376px){


    .logo {
        width: 20vw;
        font: Bold 1.5vw/3vw Helvetica;
    }

  
    .form-upper .row-1 .col-1,.col-2 input[type=text]{
        width: 25vw;
    }
    
    .form-upper .row-3 .col-1,.col-3 input[type=text]{
        width: 25vw;
    }
    
    
    .form-upper .row-3 .col-3 input[type=text]{
        width: 15vw;
    }
    
    .form-upper .row-3 select{
        width: 15vw;
    }
    
    .form-lower .row-6 input[type=text]{
        width: 15vw;
    }
    
    form .form-lower button {
        padding: 2vw 2vw 2vw 2vw;
    }
    

}
