
@media all and (min-width:1440px){


    #mid3 .container .left p{
        display: none;
    }

    header nav {
        align-items: center;
    }


    header nav li{
        padding: 0 50 0 50;
    }

    #mid4 #mid4-right img{
        width: 40vw;
    }

    #mid4 #blue-box{
        width: 40vw;
        height: 25vw;
    }
    

    #_1st, #_2nd{
        display: flex;
        justify-content: space-around !important;
    }

    footer .logo{
        width: 15%;
    }


}


@media all and (max-width:1024px){

    header .logo{
        width: 170px;
    }

    #mid3 .container .left img{
        display: none;
    }

    #mid3 .container .left p{
        font: lighter 44px/46px flood-std;
        color: #FFFFFF;
        width: min-content;
    }


    header nav{
        flex-direction: column;
        width: auto;
    }

    header nav ul{
        margin-left: -20px;
    }

    header nav li{
        padding:0 50 0 0;
    }


    #banner{
        height: auto;
        background: transparent url(../img/annie-spratt-135307-unsplash-t.png) 0% 0% no-repeat;
        background-size: cover;
    }

    #banner .container{
        flex-direction: column-reverse;
    }


    #banner-box{
        width: 100%;
        height: auto;
        margin: 100 0 0 0;
    }

    #banner-box div{
        position: relative;
        top: -55;
    }

    #banner-box .bold {
        width: 100%;
        height: auto;
    }

    #mid1 .container .mid1-box {
        flex-direction: column;
    }

    #mid1 .container div{
        justify-content: space-around;
    }


    #mid2{
        height: auto;
    }


    /* #mid2 .container .bold {
        width: 800px;
    } */

    #mid2-box{
        flex-direction: column;
    }

    #mid2 .container .portrait-box{
        width: 820px;
        height: 400px;
        margin-bottom: 100;
    }

    #mid2 .container .portrait-box div{
        display: flex;
    }

    #mid2 .container .portrait-box div p:nth-child(3){
        position: absolute;
        top: 190px;
        right: 100px;
        width: 310px;
        font: lighter 20px/29px Helvetica;
    }

    #mid2 .container .portrait-box div p:nth-child(2){
        position: relative;
        top: 75px;
        left: 90px;
        font: Bold 38px/46px Helvetica;
        letter-spacing: 1;
    }

    #mid2 .container .portrait-box div button{
        position: absolute;
        top: 300px;
        left: 165px;
        padding: 15 30 15 30;
    }

    #mid3 .left{
        position: relative;
        top: -45px;
    }

    #mid3 .left button{
        padding: 15 30 15 30;
    }

    #mid4{
        height: auto;
    }

    #mid4 .container {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    #mid4-left {
        left: 70px;
        top: -70px;
    }

    #blue-box{
        width: 70vw;
        height: auto;
    }

    #mid4-left button {
        top: 50px;
    }

    #mid4 #mid4-right img {
        width: 70vw;
    }

/* 
    #mid4 .container #mid4-right img{
        width: 750px;
        height: auto;
    } */

    #blue-box div{
        width: 660px;
    }
    
    #mid4 .container button{
        padding: 15 30 15 30;
    }

    #mid5 .container .regular {
        width: 800px;
        font: lighter 62px/76px flood-std;
    }

    /* #mid5 .container img{
        width: 350px;
        height: auto;
    } */

    /* #mid5 .container #mid5-4-boxs{
        height: -webkit-fill-available;
    } */


    #mid6 .container{
        flex-direction: column;
        align-items: normal;
    }

    /* #mid6 p {
        width: 600px;
    } */

    #mid6 form {
        width: auto;
    }

    footer .logo{
        width: 200px;
    }

    footer .container div{
        flex-wrap: wrap;
        width: 45%;
        align-items: unset;
    }

    footer .container{
        align-items: normal;
    }

    footer .container div p:nth-child(4) {
        font: lighter 27px/36px flood-std;
        position: relative;
        top: -20px;
    }

} 

/*--------------xxxxxxxxx-------------xxxxxxxxxxx----------------*/
/*
@media all and (max-width:768px){

    #mid3 .container .left img{
        display: none;
    }

    #mid3 .container .left p{
        font: lighter 44px/46px flood-std;
        color: #FFFFFF;
        width: min-content;
    }


    header nav{
        flex-direction: column;
        width: auto;
    }

    header nav ul{
        margin: -20;
        padding: 20;
    }

    header nav li{
        padding: 0 60 0 0;
    }


    #banner{
        height: 670px;
        background: transparent url(../img/annie-spratt-135307-unsplash-t.png) 0% 0% no-repeat;
        background-size: contain;
    }

    #banner .container{
        flex-direction: column-reverse;
    }

    #banner .container img{
        width: 180px;
        height: auto;
    }


    #banner-box{
        width: 640px;
        height: 300px;
        margin: 100 0 0 0;
    }

    #banner-box div{
        width: 570px;
        position: relative;
        top: -30;
    }

    #banner-box .bold {
        width: 570;
        height: auto;
    }

    #banner-box .bold {
        font: Bold 36px/46px Helvetica;
    }

    #mid1 .container .mid1-box {
        flex-direction: column;
    }

    #mid1 .container div{
        justify-content: space-between;
    }

    #mid1 .container div p{
        width: 250px;
    }

    #mid2{
        height: auto;
    }

    #mid2 .container{
        overflow: visible;
    }


    #mid2 .container .bold {
        width: 650px;
        font: Bold 36px/46px Helvetica;
    }

    #mid2-box{
        flex-direction: column;
    }

    #mid2 .container .portrait-box{
        width: 640px;
        height: 280px;
        margin-bottom: 100;
    }

    #mid2 .container .portrait-box div{
        display: flex;
    }

    #mid2 .container .portrait-box div img{
        width: 280px;
        height: auto;
    }

    #mid2 .container .portrait-box div p:nth-child(3){
        position: absolute;
        top: 140px;
        right: 60px;
        width: 250px;
        font: lighter 16px/24px Helvetica;
    }

    #mid2 .container .portrait-box div p:nth-child(2) strong{
        font: Bold 22px/28px Helvetica;
    }

    #mid2 .container .portrait-box div p:nth-child(2){
        position: relative;
        top: 50px;
        left: 50px;
        font: Bold 22px/28px Helvetica;
        letter-spacing: 1;
        width: 200px;
    }

    #mid2 .container .portrait-box div button{
        position: absolute;
        top: 230px;
        left: 130px;
        padding: 10 30 10 30;
    }

    #mid3 .container .right .landscape-box {
        width: 380px;
        height: 150px;
        margin-bottom: 30px;
    }

    #mid3 .container .right{
        height: auto;
    }

    #mid3 .left{
        position: relative;
        top: -45px;
    }

    #mid3 .box-left strong {
        font: Bold 36px/46px Helvetica;
    }

    #mid3 .left button{
        padding: 15 30 15 30;
    }

    #mid4{
        height: auto;
    }

    #mid4 .container {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    #mid4 .container #mid4-right img {
        width: 90%;
    }

    #blue-box p {
        font: bold 22px/28px Helvetica;
    }

    #mid4-left {
        left: 70px;
        top: -70px;
    }

    #blue-box{
        width: 550px;
        height: auto;
    }

    #mid4-left button {
        top: 50px;
    }


    #blue-box div{
        width: 660px;
    }
    
    #mid4 .container button{
        padding: 15 30 15 30;
    }
    
    #mid5{
        height: 1100px;
    }

    #mid5 .container .regular {
        width: auto;
        font: lighter 44px/46px flood-std;
    }

    #mid5 .container img{
        width: 280px;
        height: auto;
    }

    #mid5 .bolder-w {
        font: bold 28px/36px Helvetica;
    }

    #mid5 .mid5-lorem {
        font: Lighter 16px/22px Helvetica;
    }

    #mid5 .container #mid5-4-boxs{
        height: -webkit-fill-available;
    }

    #mid5 .container .mid5-upper{
        margin-bottom: 200px;
    }

    #mid5 .container #mid5-4-boxs #_1{
        width: 280px;
    }


    #mid5 .container #mid5-4-boxs #_2{
        width: 280px;
    }

    #mid5 .container button{
        padding: 15 30 15 30;
    }

    #mid6 .container{
        flex-direction: column;
        align-items: normal;
    }

    #mid6 p {
        width: 450px;
        font: bold 22px/28px Helvetica;
    }

    #mid6 form {
        width: auto;
    }

    footer .logo{
        width: 170px;
    }

    footer .container div{
        flex-wrap: wrap;
        width: 60%;
    }

    footer .container{
        align-items: normal;
        justify-content: space-evenly;
    }

}
*/
/*--------------xxxxxxxxx-------------xxxxxxxxxxx----------------*/

@media screen and (max-width:376px){

    header{
        height: auto;
    }

    header .container {
        margin: 20;
        width: 100%;
        flex-direction: column;
    }

    header .logo {
        width: 50%;
        font: Bold 1.2em/1.4em Helvetica;
    }

    
    header nav {
        flex-direction: row;
        margin-bottom: 5%;
        align-items: center;
        width: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        padding: unset;
    }
/* 
    header .container .logo{
        width: 250px;
        font: Bold 35px/48px Helvetica;
    } */

    header nav ul li{
        /* font: Lighter 30px/44px Helvetica; */
        padding: unset;
        font: Lighter 1em/1em Helvetica;
    }

    header .container button{
        width: 75vw;
        /* padding: 15 100 15 100; */
        /* font: Bold 28px/32px Helvetica; */
    }

    #banner{
        background: transparent url(../img/annie-spratt-135307-unsplash-m.png) 0% 0% no-repeat;
        background-size: cover;
        padding: unset;
        height: auto;
    }

    #banner .container{
        padding: 50 0 50 0;
    }

    #banner .container img{
        width: 180px;
        height: auto;
    }


    #banner-box {
        width: 312px;
        height: 240px;
    }

    #banner-box div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: -5px;
        top: -15;
        width: 270px;
        text-align: center;
    }


    #banner-box .bold {
        font: Bold 22px/28px Helvetica;
        width: 278;
        height: auto;
    }

    #mid1 .container{
        top: -40px;
    }

    #mid1 .container div p strong{
    font: Bold 18px/22px Helvetica;
    }

    #mid1 .container div p {
        width: 250px;
        font: lighter 14px/20px Helvetica;
    }
    
    #mid2{
        padding: 20 0 0 0;
    }

    #mid2 .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mid2 .container .bold {
        font: Bold 22px/28px Helvetica;
        width: auto;
        text-align: center;
    }

    #mid2 .container .portrait-box {
        width: 312px;
        height: 415px;
    }

    #mid2 .container .portrait-box div{
        left: 30px;
    }

    #mid2 .container .portrait-box img{
        width: 250px;
        height: auto;
    }

    #mid2 .container strong {
        font: Bold 18px/22px Helvetica;
    }

    #mid2 .container .portrait-box div p:nth-child(3) {
        font: lighter 14px/20px Helvetica;
        right: auto;
        top: 220px;
        text-align: center;
        width: 250px;
    }

    #mid2 .container .portrait-box div p:nth-child(2) {
        /* left: -160px;
        top: 170; */
        display: flex;
        flex-direction: column;
        font: Bold 18px/22px Helvetica;
        text-align: center;
        position: absolute;
        top: 180px;
        left: 0;
    }

    #mid2 .container .portrait-box div button {
        top: 360;
        left: 50;
        padding: 10 30 10 30;
    }


    #mid3{
        background: transparent url(../img/did-you-know-background-m.png) 0% 0% no-repeat;
        background-size: auto 100%;
        background-position: -150px -30px;
    }


    #mid3 .container{
        flex-direction: column;
    }

    #mid3 .container .left p {
        width: auto;
    }

    /* #mid3 .container .right{
        justify-content: unset;
        height: auto;
    } */

    .landscape-box{
        width: auto;
    }

    #mid3 .box-left strong {
        font: Bold 22px/28px Helvetica;
    }

    #mid3 .box-left {
        width: 55%;
    }


    #mid3 .right #did-you-know-stamp{
        display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    bottom: 15px;
    }

    /* #mid3 .container .right:nth-child(1) .landscape-box div #mid3-uni .box-left p:nth-child(1){
        position: relative;
        top: 1;
    } */


    #mid4{
        padding: 0 0 50 0;
    }


    #mid4 .container {
        align-items: center;
    }

    #mid4 .container #mid4-right img {
        width: 312px;
        height: 312px;
    }

    #mid4-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: unset;
    }

    #mid4-right {
        margin-bottom: 100px;
    }


    #blue-box {
        width: 312px;
        height: auto;
    }

    #blue-box p {
        font: bold 20px/28px Helvetica;
        text-align: center;
    }

    #blue-box a {
        font: lighter 11px/13px Helvetica;
    }


    #mid5 .container {
        padding-bottom: 150;
    }

    #mid5 .container .regular {
        width: 312px;
        font: lighter 44px/46px flood-std;
        text-align: center;
    }

    #mid5 .container img {
        width: 312px;
        height: auto;
    }

    #mid5 .container .mid5-upper {
        flex-direction: column;
    }

    .mid5-upper #_1 .rectangle-w {
    position: relative;
    top: -345px;
    left: 70;
    }

    .mid5-upper #_1 .bolder-w {
        font: Bold 22px/28px Helvetica;
    }

    #mid5 .container #mid5-4-boxs #_1 {
        width: 312px;
        text-align: center;
    }

    .mid5-lower #_2 .rectangle-w {
        position: relative;
        z-index: 1;
    }

    .mid5-lower img{
        position: relative;
        bottom: 320;
    }

    #mid5 .container .mid5-lower {
        flex-direction: column;
    }


    .mid5-lower #_2 .rectangle-w {
        position: relative;
        top: 120px;
        left: 70;
        }

    .mid5-lower #_2 .bolder-w {
        position: relative;
        top: 450px;
        font: Bold 22px/28px Helvetica;

    }

    #mid5 .container .mid5-lower .mid5-lorem{
        position: relative;
        top: 450px;
    }

    #mid5 .container .mid5-lower{
        text-align: center;
        margin: 0 0 0 0;
    }

    #mid5 .container #mid5-4-boxs #_2 {
        width: 100%;
    }


    #mid5 .container .mid5-lower button{
        position: relative;
        top: 450px;
    }


    #mid6 .container{
        overflow: visible;
    }

    #mid6 form {
        width: auto;
    }

    #mid6 p {
        width: 320px;
        font: bold 22px/28px Helvetica;
    }

    #mid6 input[type=text] {
        width: auto;
        font: lighter 12px/14px Helvetica;
    }


    footer .container {
        margin-top: 50;
    }

    footer .logo {
        width: 110px;
    }

    footer .container div {
        flex-wrap: wrap;
        position: relative;
    }

    footer .container div p:nth-child(3){
        position: absolute;
        align-self: flex-start;
        left: -165px;
        top: 170px;
    }

}