body{
    width: 100%;
    margin: auto;
}

@font-face {
    font-family: 'flood-std';
    src: url('https://use.typekit.net/pf/typt/khwz/n4/l?subset_id=1&fvd=n4&ec_token=3bb2a6e53c9684ffdc9a9bf7185b2a6276e0698d66f4110a2ab9340afa69d4d766077cf2280e970caeacca0e54695db78a301448dd3861150fb50e40c80a0eba6808383a5b5031fda18044fa921293d018238cd0ea2f18d9d946965f33abc99a8b3bb0b6f919a1adc58beb401bf1b72b');
  }

.regular{
    font: lighter 16px/24px Helvetica;
    color:#354463;
}

.bold{
    font: Bold 22px/24px Helvetica;
    color:#354463;
}

.bolder{
    font: Bold 44px/56px Helvetica;
    color:#354463;
}


.bolder-w{
    font: Bold 44px/56px Helvetica;
    color:#FFFFFF;
}

.green-btn{
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    color: #354463;
    opacity: 1;
    text-align: center;
    padding: 10;
    font: Bold 18px/22px Helvetica;
    border-style: solid;
    border: none;
}


header{
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
}


.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
}

.logo{
    width: 160px;
    height: 63px;
    font: Bold 22px/28px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
    float: left;
}

header nav ul{
    margin: 0;
    padding: 20;
    float: right;
}

header nav li{
    float: left;
    letter-spacing: -0.16px;
    font: Lighter 16px/24px Helvetica;
    display: inline;
    padding: 0 50px 0 50px;
    color: #354463;
    opacity: 1;
}

header nav li a{
    color: #354463;
    text-decoration: none;
}

#banner {
    height: 672px;
    background: transparent url('../img/annie-spratt-135307-unsplash.png') 0% 0% no-repeat;
    background-size: contain;
    display: flex;
}

#banner-box{
    width: 544px;
    height: 416px;
    background: #FFFFFF;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#banner .container{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.rectangle{
    font: lighter 14px/17px Helvetica;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 40px;
    letter-spacing: 0.56px;
    color:white;
    background: #354463 0% 0% padding-box;
}

.rectangle-w{
    font: lighter 14px/17px Helvetica;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 40px;
    letter-spacing: 0.56px;
    color:#354463;
    background: #FFFFFF 0% 0% padding-box;
}

#banner-box .bold{
    font: Bold 44px/56px Helvetica;
    width: 416px;
    height: 221px;;
}

#banner-box div{
    position: absolute;;
    top:220px;
}

#banner .container #banner-box p a{
    font: lighter 16px/24px Helvetica;
    color: #354463;
}


#mid1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -35px;
}

#mid1 .container div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#mid1 .container div p strong {
    display: block;
    font: Bold 28px/36px Helvetica;
    letter-spacing: 0;
    color: #354463;
}


#mid1 .container div p {
    width: 230px;
    font: lighter 16px/24px Helvetica;
    color:#354463;
}

#mid2{
    background: #354463;
    height: 1000px;
    display: flex;
    
}

#mid2 .rectangle{
    background:#FFFFFF;
    color: #354463;
}

#mid2 .container .bold{
    font: Bold 44px/56px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
}

.portrait-box{
    background:#FFFFFF;
    width: 320px;
    height: 528px;
}

.portrait-box p{
    width: 256px;
}

#mid2 .container strong{
    font: Bold 28px/36px Helvetica;
    letter-spacing: 0;
    color: #354463;
   
}

#mid2 .container .portrait-box a{
    text-decoration: none;
    color: #354463;
}

#mid2-box{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#mid2-box .portrait-box div{
    position: relative;
    top:-30;
    left: 33;
}

#mid3 {
    background: transparent url('../img/did-you-know-background.png') 0% 0% no-repeat;
    height: 1279px;
    display: flex;
}

#mid3 .left{
   display: table-caption;
}

.landscape-box{
    width: 544px;
    height: 232px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mid3 .box-left strong{
    font: Bold 44px/56px Helvetica;
    color:#354463;
}
#mid3 .box-left {
    width: 280px;
}


#mid3 .container{
    display: flex;
    justify-content: space-between;
}

#mid3 .left{
    display: flex;
    flex-direction: column;
}

#mid3 .left .green-btn{
width: fit-content;
}

.landscape-box span{
    display: flex;
    justify-content: space-around;
}

.landscape-box span .box-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-right a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #C1F7D5;
    border-radius: 100px;
}

.right{
    height: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mid3-uni {
    display: flex;
    justify-content: space-around;
}

#mid3-uni .box-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mid4{
    height: 720px;
}

#mid4 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#blue-box{
    background: #354463;
    color: #FFFFFF;
    width: 544px;
    height: 344px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#blue-box p{
    font: bold 28px/36px Helvetica;
    letter-spacing: 0;
    padding: 20;
}

#blue-box a{
    font: lighter 16px/24px Helvetica;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

#blue-box div{
    width: 440px;
}

#mid4-right .rectangle{
    position: relative;
    top: 35px;
    left: 69px;
}

#mid4-left{
    position: relative;
    left: 50px;
    top: 40px;
}

#mid4-left button{
    position: relative;
    top: 80px;
}

#mid5{
    height: 1550px;
    background: #354463;
}


#mid5 .container .regular{
    font: lighter 72px/76px flood-std;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 847px;
}

.mid5-lorem{
    font: Lighter 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
}

#_1,#_2{
    width: 448px;
    height: 153px;
}

.mid5-upper img{
    width: 576px;
    height: 576px;
}

.mid5-upper, .mid5-lower{
    display: flex;
    justify-content: space-between;
}

#mid6{
    background: #C1F7D5;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mid6 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mid6 p{
    font: bold 28px/36px Helvetica;
    letter-spacing: 0;
    color: #354463;
    width: 544px;
}

#mid6 input[type=text]{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px;
    width: 70%;
    color: #354463;
    font: lighter 18px/22px Helvetica;
    border-style: solid;
    border: none;
}

#mid6 input[type=submit]{
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px;
    color: #C1F7D5;
    font: bold 18px/22px Helvetica;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border: none;
}

#mid6 form{
    display: flex;
    justify-content: space-between;
    width: 550px;
}

footer{
    height: 370px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .container div{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

footer .container div strong{
    font: bold 14px/17px Helvetica;
    color: #354463;
    letter-spacing: 0.56px;
    text-decoration: underline;
    text-underline-position: under;
}

footer .container div p{
    font: lighter 14px/17px Helvetica;
    width: 126px;
    color: #354463;
}


@media all and (min-width:1440px){


    #mid3 .container .left p{
        display: none;
    }

    header nav {
        align-items: center;
    }

    #_1st, #_2nd{
        display: flex;
        justify-content: space-around !important;
    }


}


@media all and (max-width:1024px){

    #mid3 .container .left img{
        display: none;
    }

    #mid3 .container .left p{
        font: lighter 44px/46px flood-std;
        color: #FFFFFF;
        width: min-content;
    }


    header nav{
        flex-direction: column;
    }

    header nav ul{
        margin: -20;
        padding: 20;
    }

    header nav li{
        padding: 0 60 0 0;
    }


    #banner{
        height: 920px;
        background: transparent url(../img/annie-spratt-135307-unsplash-t.png) 0% 0% no-repeat;
        background-size: cover;
    }

    #banner .container{
        flex-direction: column-reverse;
    }

    #banner-box{
        width: 820px;
        height: 380px;
        margin: 100 0 0 0;
    }

    #banner-box div{
        width: 570px;
        position: relative;
        top: -50;
    }

    #banner-box .bold {
        width: 570;
        height: auto;
    }

    #mid1 .container .mid1-box {
        flex-direction: column;
    }

    #mid1 .container div{
        justify-content: space-around;
    }

    #mid1 .container div p{
        width: 250px;
    }

    #mid2{
        height: auto;
    }


    #mid2 .container .bold {
        width: 800px;
    }

    #mid2-box{
        flex-direction: column;
    }

    #mid2 .container .portrait-box{
        width: 820px;
        height: 400px;
        margin-bottom: 100;
    }

    #mid2 .container .portrait-box div{
        display: flex;
    }

    #mid2 .container .portrait-box div p:nth-child(3){
        position: absolute;
        top: 190px;
        right: 100px;
        width: 310px;
        font: lighter 20px/29px Helvetica;
    }

    #mid2 .container .portrait-box div p:nth-child(2){
        position: relative;
        top: 75px;
        left: 90px;
        font: Bold 38px/46px Helvetica;
        letter-spacing: 1;
    }

    #mid2 .container .portrait-box div button{
        position: absolute;
        top: 300px;
        left: 165px;
        padding: 15 30 15 30;
    }

    #mid3 .left{
        position: relative;
        top: -45px;
    }

    #mid3 .left button{
        padding: 15 30 15 30;
    }

    #mid4{
        height: auto;
    }

    #mid4 .container {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    #mid4-left {
        left: 70px;
        top: -70px;
    }

    #blue-box{
        width: 760px;
        height: auto;
    }

    #mid4-left button {
        top: 50px;
    }

    #mid4 .container #mid4-right img{
        width: 750px;
        height: auto;
    }

    #blue-box div{
        width: 660px;
    }
    
    #mid4 .container button{
        padding: 15 30 15 30;
    }

    #mid5 .container .regular {
        width: 800px;
        font: lighter 62px/76px flood-std;
    }

    #mid5 .container img{
        width: 350px;
        height: auto;
    }

    #mid5 .container #mid5-4-boxs{
        height: -webkit-fill-available;
    }

    #mid5 .container .mid5-upper{
        margin-bottom: 300px;
    }

    #mid5 .container #mid5-4-boxs #_1{
        width: 350px;
    }


    #mid5 .container #mid5-4-boxs #_2{
        width: 400px;
    }

    #mid5 .container button{
        padding: 15 30 15 30;
    }

    #mid6 .container{
        flex-direction: column;
        align-items: normal;
    }

    #mid6 p {
        width: 600px;
    }

    #mid6 form {
        width: auto;
    }

    footer .logo{
        width: 200px;
    }

}